/* Default (Light) Theme */
:root {
  --background-color: white;
  --text-color: black;
  --link: #61dafb;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: rgba(52, 53, 65, 0.95);
  --text-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container, .search-container, .hamburger-container {
  flex: 1;
}

.search-container {
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
